.cart__page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart__info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: white;
    background-color: #F6521E;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td button{
    display: inline-block;
    background-color: #F6521E;
    color: white;
    padding: 3px 8px;
    margin: 30px 0;
    border-radius: 30px;
    border: none;
    outline: #F6521E;
    transition: background 0.5s ;
    font-size: 11px;
}
td img{
    height: 120px;
    width: 120px;
    margin-right: 5px;
}
.total__price{
    display: flex;
    justify-content: flex-end;
}
.total__price table{
    border-top: 3px solid #F6521E;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.noItems{
    text-align: center;
}

@media only screen and (max-width: 600px){
    .cart__info p{
        display: none;
    }
}