.total__price{
    display: flex;
    justify-content: flex-end;
}
.total__price table{
    border-top: 3px solid #F6521E;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}